*.iml
.gradle
/local.properties
/.idea/workspace.xml
/AndroidNew.iml
/.idea/
/library/library.iml
.DS_Store
/build
/app/app.iml
/captures
/libraries/library/library.iml
/libraries/library/build
/app/build
.idea
.idea/misc.xml
